<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Dashboard Userrrrrrrrrrr!!!!!!11</h1>
    <form th:object="${loginData}" th:action="@{/afterDashboardMahasiswa}" method="post">
        <div class="form-group">
            <input type="hidden" name="email_mahasiswa" id="email_mahasiswa" class="form-control" required
                th:field="*{email_mahasiswa}">
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Ke profil user</button>
        </div>
    </form>

    <br>
    <h1>My Dashboard</h1>
    <br>

    <div th:each="loginData:${loginData}">
        <img th:src="@{${loginData.photos}}"/>
        <h1 th:text="${loginData.full_name}"></h1><br>
        <h3 th:text="${loginData.program_study}"></h3><br>
    </div>

    
    <br>
    <h3>Top Dosen</h3>
    <br>
    
    <div th:each=dataTop:${dataTopDos}>
        <div class="card" style="background-color: orange;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <div>
                    <h5 th:text="${dataTop.full_name}" style="font-weight: bold;"></h5>
                </div>
                <div>
                    <h6 th:text="${dataTop.major}"></h6>
                </div>
                <div>
                    <h6 th:text="${dataTop.price}"></h6>
                </div>
                <div>
                    <h6 th:text="${dataTop.totalConsultation}"></h6>
                </div>
                <div>
                    <h6 th:text="${dataTop.rating}"></h6>
                </div>
                <br>
            </div>
        </div>
    </div>

    <br>
<h3>top topic</h3>
<br>

    <div th:each=dataTopik:${dataTopik}>
        <div class="card" style="background-color: orange;" >
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <div>
                    <h5 th:text="${dataTopik.name_topik}" style="font-weight: bold;"></h5>
                </div>
                <div>
                    <h6 th:text="${dataTopik.deskripsi}"></h6>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>

</html>