<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Dosen</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Foto</th>
                    <th>Nama Dosen</th>
                    <th>Jurusan Dosen</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Affiliate</th>
                    <th>Tanggal Lahir</th>
                    <th>Graduate From</th>
                    <th>Phone Number</th>
                    <th>Rating Dosen</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dataDosen:${loginData}">
                    <td th:text="${dataDosen.username}"></td>
                    <td th:text="${dataDosen.photos}"></td>
                    <td th:text="${dataDosen.full_name}"></td>
                    <td th:text="${dataDosen.major}"></td>
                    <td th:text="${dataDosen.email_dosen}"></td>
                    <td th:text="${dataDosen.address}"></td>
                    <td th:text="${dataDosen.affiliate}"></td>
                    <td th:text="${dataDosen.birthdate}"></td>
                    <td th:text="${dataDosen.graduateFrom}"></td>
                    <td th:text="${dataDosen.phoneNumber}"></td>
                    <td th:text="${dataDosen.rating}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>