<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <title>Chain App Dev - App Landing Page HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap.min.css" rel="stylesheet">

    <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="/css/animated.css">
    <link rel="stylesheet" href="/css/owl.css">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.5s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <br>
                        <a href="/" class="logo">
                            <img src="/images/halodos_pth-removebg-preview.png" alt="Chain App Dev" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">


                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <br><br><br><br><br>

    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: fadeInUp;">
        <h1>Page not found</h1>
    </div><br><br>

    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: fadeInUp;">
        <div class="container">
            <!-- Single Advisor-->
            <div class="row mb-12">
                <div class="container col-md col-8 themed-grid-col">
                    <div class="row row-cols-3 row-cols-md-4 g-4 pt-3">
                        <img src="/images/asset 11.png" alt="error 404" style="width: 50%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: fadeInUp;">
        <h4><a href="/" style="text-align: center;">Bring me home!</a></h4>
    </div>


    <!-- Scripts -->
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/bootstrap.bundle.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/animation.js"></script>
    <script src="js/imagesloaded.js"></script>
    <script src="js/popup.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>