<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Halodos</title>
    <link rel="stylesheet" href="css/stylelogin.css" />
  </head>
  <body>
    <div class="login-wrapper">
      <div class="box-image box-col">
        <img src="images/sideimage.png" alt="sideimage" />
      </div>
      
      <div class="box-col">
        <div class="logo"></div>
        <div class="box-form">
          <div class="inner">
            <div class="form-head">
              <div class="title">Login As Mahasiswa</div>
            </div>
              
            <!-- Form Start -->
            <form th:object="${loginData}" th:action ="@{/afterLogin}" method="post">
              <div class="form-group">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" name="email_mahasiswa" id="email_mahasiswa" size="100" class="form-control" required th:field="*{email_mahasiswa}">
              </div>
              <div class="form-group">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" name="password" id="password" size="100" class="form-control" required th:field="*{password}">
              </div>
              <div class="mt-2">
                  <small>
                    don't have an account? <a href="/registerMahasiswa">create now!</a>
                  </small>
              </div>

              <div class="mt-2">
                  <small>
                    can't login? <a href="/forgotMahasiswa">forgot password !</a>
                  </small>
              </div>
              <div class="actions">
                <button type="submit" class="btn btn-submit">Login Now</button>
              </div>
          <!-- </form>
            <div class="form-head">
              <div class="title">Login to Your Account</div>
              <div class="form-group">
                <div class="label-text">Email</div>
                <input type="text" class="form-control" placeholder="Email" />
              </div>
              <div class="form-group">
                <div class="label-text">Password</div>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="form-button">
                <div class="check-action">
                  <input type="checkbox" class="check" />
                  <span class="name">Remember Me</span>
                </div>
                <a href="#" class="link">Forgot Password?</a>
              </div>
              <div class="actions">
                <button class="btn btn-submit">Login Now</button>
                <button class="btn btn-google">
                  <span class="icon">
                     <img src="img/google.png" alt="google" />
                    Or Sign-in with Google
                  </span>
                </button>
              </div>
            </div> -->
          </div>
        </div>


      </div>
    </div>
  </body>
</html>
