<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Dosen</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Foto</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Tanggal Lahir</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dataUser:${loginData}">
                    <td th:text="${dataUser.username}"></td>
                    <td th:text="${dataUser.photos}"></td>
                    <td th:text="${dataUser.full_name}"></td>
                    <td th:text="${dataUser.email_mahasiswa}"></td>
                    <td th:text="${dataUser.alamat}"></td>
                    <td th:text="${dataUser.datebrith}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>