<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My balance</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <link href="vendor/bootstrap.min.css" rel="stylesheet" />


  <link rel="stylesheet" href="css/templatemo-chain-app-dev.css" />
  <link rel="stylesheet" href="css/animated.css" />
  <link rel="stylesheet" href="css/owl.css" />
  <!-- card css -->
  <!-- <link rel="stylesheet" href="css/cardsearch.css" /> -->

  <!-- th -->
  <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/templatemo-chain-app-dev.css}" />
  <link rel="stylesheet" th:href="@{/css/animated.css}" />
  <link rel="stylesheet" th:href="@{/css/owl.css}" />
  <!-- card css -->
  <!-- <link rel="stylesheet" th:href="@{/css/cardsearch.css}" /> -->
  <!--  -->
</head>

<body>
  <div th:insert="fragments/headerDosen :: header"></div>
  <br><br><br><br><br>
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
          role="tab" aria-controls="home" aria-selected="true">Withdraw</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
          role="tab" aria-controls="profile" aria-selected="false">History</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <h3></h3>
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th>Your balance:</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dataDosen:${loginData}">
                <td>
                  <h1 th:text="Rp.+ ' ' + ${dataDosen.balance} + ',-'"></h1>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <form th:object="${loginData}" th:action="@{/saldoDosenTarik}" method="post">
          <div class="form-group">
            <input type="hidden" name="email_dosen" id="email_dosen" class="form-control" required
              th:field="*{email_dosen}" />
          </div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Tarik
            Saldo</button>
          <!-- <div class="mt-2">
            <button type="submit" class="btn btn-primary">tarik</button>
          </div> -->
        </form>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <style>
          .rowbaru {
            align-items: stretch;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
          }

          .card {
            max-width: 15.333%;
            padding: .75rem;
            margin-bottom: 2rem;
            border: 0;
            flex-basis: 33.333%;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .card>img {
            margin-bottom: .75rem;
            width: 100%;
          }

          .card-text {
            font-size: 85%;
          }
        </style>
        <br><br><br>
        <h3>
          <center> Withdrawal History </center>
        </h3> <br><br><br>

        <div class="container">
          <div class="rowbaru">
            <div class="card" style="border: 1px solid gray; border-radius: 15px; margin: 10px;"
              th:each="data:${withdrawal}">
              <img src="/images/withdraw.png">
              <p class="card-text">Withdraw : <span class="card-text"
                  th:text="'- '+Rp.+ ' ' + ${data.withdrawal} + ',-'"></span></p>
              <p class="card-text">Date : <span class="card-text" th:text="${data.date}"></span></p>
            </div>
          </div>
        </div>
        <br><br><br>
        <h3>
          <center> Income History </center>
        </h3> <br><br><br>

        <div class="container">
          <div class="rowbaru">
            <div class="card" style="border: 1px solid gray; border-radius: 15px; margin: 10px;"
              th:each="data:${income}">
              <img src="/images/income.png">
              <p class="card-text">Payment from : <span class="card-text"
                  th:text="${data.mahasiswaId.full_name}"></span></p>
              <p class="card-text">Withdraw : <span class="card-text"
                  th:text="'+ '+Rp.+ ' ' + ${data.income} + ',-'"></span></p>
              <p class="card-text">Date : <span class="card-text" th:text="${data.date}"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tarik Saldo</h5>
        </div>
        <div class="modal-body">
          <form th:object="${loginData}" th:action="@{/editsaldoDosen}" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">Penarikan</label>
              <input type="text" class="form-control" placeholder="Input withdrawal amount" size="250"
                aria-label="Search" aria-describedby="addon-wrapping" name="keyword" id="keyword"
                th:value="${keyword}" />
            </div>
            <div>
              <input type="hidden" class="form-control" required th:field="*{email_dosen}" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div th:insert="fragments/footer :: footer"></div>
  </footer>

  <!-- <link src="../static/js/bootstrap.bundle.min.js"></link> -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script> -->
  <script src="vendor/jquery.min.js"></script>
  <script src="vendor/bootstrap.bundle.min.js"></script>
  <script src="js/owl-carousel.js"></script>
  <script src="js/animation.js"></script>
  <script src="js/imagesloaded.js"></script>
  <script src="js/popup.js"></script>
  <script src="js/custom.js"></script>

  <script th:src="@{/vendor/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/owl-carousel.js}"></script>
  <script th:src="@{/js/animation.js}"></script>
  <script th:src="@{/js/imagesloaded.js}"></script>
  <script th:src="@{/js/popup.js}"></script>
  <script th:src="@{/js/custom.js}"></script>

</body>

</html>