<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Dosen</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  </head>

  <body>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Saldo Dosen</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dataDosen:${loginData}">
            <td th:text="${dataDosen.balance}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <form th:object="${loginData}" th:action="@{/saldoDosenTarik}" method="post">
      <div class="form-group">
        <input type="hidden" name="email_dosen" id="email_dosen" class="form-control" required th:field="*{email_dosen}" />
      </div>

      <div class="mt-2">
        <button type="submit" class="btn btn-primary">tarik</button>
      </div>
    </form>

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Tarik Saldo</button> -->

    <!-- Modal -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tarik Saldo</h5>
          </div>
          <div class="modal-body">
            <form th:object="${loginData}" th:action="@{/editsaldoDosen}" th:method="POST">
              <div class="mb-3">
                <label for="username" class="form-label">Penarikan</label>
                <input type="text" id="tariksaldo" name="tariksaldo" class="form-control" required th:field="*{balance}" />
              </div>
              <div>
                <input type="text" class="form-control" required th:field="*{email_dosen}" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <script src="../static/js/bootstrap.bundle.min.js"></script> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
